body {
    background-color: #ffffff;
    text-align: center;
}

.gallery {

}

.gallery img {
    width: 100%;
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

